#tests
test
coverage

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml
circle.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig
.prettierrc.json

#github settings
.github
.gitignore
